table { 
    border: 1px solid black; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top:15% ;
    margin-bottom:15% ;
    background-color: lightgreen;
} 
  
input[type="button"] { 
    width: 100%; 
    padding: 20px 40px; 
    background-color: black; 
    color: white; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    

    
} 
  
input[type="text"] { 
    padding: 20px 30px; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
    border: 2px solid black; 
} 
.operator[type="button"]{
    width: 200%;
    background-color: maroon;

}
.equal[type="button"]{
    background-color: blue;

}
.del[type="button"]{
    background-color: darkblue;
}